.adminCustomers {
    body{
        background:#DCDCDC;
        margin-top:20px;
    }
    .card-box {
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.959);
    }

    .container{
        min-width: 400px;
    }
    
    .thumb-lg {
        height: 88px;
        width: 88px;
    }
    .img-thumbnail {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }
    .text-pink {
        color: #ff679b!important;
    }
    .btn-rounded {
        border-radius: 2em;
    }
    .text-muted {
        color: #98a6ad!important;
    }
    h4 {
        line-height: 22px;
        font-size: 18px;
    }
    hr {
        height: 2px;
        background-color: rgba(5, 5, 5, 0.884);
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
        margin-right: 30px;
      }
}

.adminContainer {
    padding-top: 2%;
    position:absolute; left: 10%;
}

.adminDash {
    padding-top: 5%;
}

.counter-container {
    .container {
        margin-left: 17%;
    }
    .row {
        margin-top: 75px;
    }
    
    .counter-box {
        display: block;
        background: #f6f6f6;
        padding: 40px 20px 37px;
        width: 250px;
        text-align: center;
    }
    
    .counter-box p {
        margin: 5px 0 0;
        padding: 0;
        color: #909090;
        font-size: 18px;
        font-weight: 500
    }
    
    .counter-box i {
        font-size: 60px;
        margin: 0 0 15px;
        color: #d2d2d2
    }
    
    .counter {
        display: block;
        font-size: 32px;
        font-weight: 700;
        color: #666;
        line-height: 28px
    }
    
    .counter-box.anim {
        background: #3ab9cf
    }
    
    .counter-box.anim p,
    .counter-box.anim i,
    .counter-box.anim .counter {
        color: #fff
    }

    .counter-box.event {
        background: rgb(29, 170, 29)
    }
    
    .counter-box.event p,
    .counter-box.event i,
    .counter-box.event .counter {
        color: #fff
    }

    .counter-box.customer {
        background: rgb(241, 72, 72)
    }
    
    .counter-box.customer p,
    .counter-box.customer i,
    .counter-box.customer .counter {
        color: #fff
    }
}