@import 'variables';
@import 'products';
@import 'profile';
@import 'animalCards';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'navbar.scss';
@import 'home.scss';
@import 'eventDisplay.scss';
@import 'adminCustomers.scss';
@import 'success.scss';
@import 'checkoutCard.scss';

body { 
  background: $backgroundIMG no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}