@import 'variables';
@import "~@fortawesome/fontawesome-free/css/all.min.css";


body { 
  background: $backgroundIMG no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}